{% block content %}
<style scoped>
input.search-box {
  border-radius: 0.35rem;
  background: #83c5da !important;
  border-color: #299fc4 !important;
  padding: 0.125rem 0.55rem;
  color: #495057;
  border: 2px solid #495057;
}
</style>
<header id="header">
  <title>{{site_name}}</title>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="bg-light p-1 rounded">
      <a class="navbar-brand" href="/">
        <img src="static/img/icon.svg" width="30" height="30" alt="">
      </a>
      <a id="logo" class="navbar-brand mainFont caps mainTextDark bold" href="/">{{site_name}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex align-items-center" id="user_link">
        <li class="nav-item">
          <form class="nav-search mr-2" @submit.prevent="executeSearch()" autocomplete="off">
            <input class="form-control search-box font-awesome mainBackLight mr-2" type="text" v-model='query' name="query" placeholder="&#xF002;" />
          </form>
        </li>
        <li class="nav-item"><a class="nav-link h-link text-light" href="about">About</a></li>
        <li class="nav-item"><a class="nav-link h-link text-light" href="schema">Schema</a></li>
        <li class="nav-item"><a class="nav-link h-link text-light" href="niaid-priorities">NIAID Priorities</a></li>
      </ul>
    </div>
  </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="static/js/lodash.js"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
  var router = new VueRouter({
    mode: 'history'
  });

  var app = new Vue({
    el: '#header',
    router: router,
    data: function() {
      return {
        query: null,
        defaultPerPage: 10,
        defaultPage: 1
      }
    },
    methods: {
      executeSearch() {
        if(this.query){
          this.$router.push({path: "search", key: this.query, query: { q: this.query, size: this.defaultPerPage, from: this.defaultPage}}).catch(err => {console.log(err)});
          this.$router.go(0); // bit of a hack to force router execution; seems to be related to Vue's recycling of components, the fact that each component is a new Vue instance, and/or the routing conflicts b/w Tornado and Vue.
          this.query = null;
        }
      }
    },
    mounted: function() {
    }
  })
</script>
{% endblock %}
