{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
  .value-annotation {
    margin-right: 5px;
  }

  #search-suggestions ul {
    list-style: none;
  }

  #search-suggestions li {
      display: inline-flex;
      padding-right: 15px;
  }
  input.search-box {
    border-radius: 0.35rem;
    background: #83c5da !important;
    border-color: #299fc4 !important;
    padding: 0.125rem 0.55rem;
    color: #495057;
    border: 2px solid #495057;
  }
</style>
<main id="index" style="min-height:70vh;">
  <div class="row hero pt-5">
    <div class=" col-sm-12 col-md-6 p-4">
      <img src="static/img/logo.svg" alt="logo"/>
    </div>
    <div class=" col-sm-12 col-md-6 text-center d-flex justify-content-center align-items-center">
      <div class="">
        <h5 class="text-muted caps">
          {{site_desc | safe}}
        </h5>
        <a class="text-muted" href="about">Learn More <i class="fas fa-chevron-right"></i></a>
        <br />
        <a class="text-muted" href="https://github.com/biothings/metadataplus/issues/new/choose">Suggest New Source <i class="fas fa-plus"></i></a>
      </div>
    </div>
    <div class="col-sm-12 bg-dark text-light p-5">
      <div id="search-bar" class="d-flex justify-content-center">
        <div class="d-flex flex-column">
          <form class="mb-1" @submit.prevent="search(query)">
            <input id="search-query" type="text" v-model='query' name="query" class="form-control search-box" placeholder="search datasets" autocomplete="off">
          </form>
          <div id="search-suggestions" class="d-flex">
            <span>Try:</span>
            <ul>
              <li>
                <a class="text-light" href="niaid-priorities">NIAID priorities <i class="fas fa-chevron-right"></i></a>
              </li>
              <li v-for="suggestion in suggestedQueries" :key="suggestion.label">
                <a class="text-light" :href="'search?q=' + suggestion.searchTerms" >
                  <span v-text="suggestion.label"></span> <i class="fas fa-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 bg-light text-muted text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 p-3 text-center">
            <h3 class="row text-muted lighter caps" id="dataset-counts"><b v-text="datasetTotal.toLocaleString()" class="value-annotation"></b><span v-if="datasetTotal !== 0">datasets</span></h3>
            <h5 class="row text-muted lighter" id="source-counts" v-if="sourceTotal"><b v-text="sourceTotal.toLocaleString()" class="value-annotation"></b><span>dataset repositories indexed</span></h5>
            <app-donut v-bind:source_counts="source_counts" v-bind:width="150" class="row"></app-donut>
          </div>
          <div class="col-sm-12 col-md-8 p-3 text-center">
            <h4>Common keywords in datasets</h4>
            <div class="d-flex" id="keyword-counts" v-if="keywordsCounts && keywordsCounts.length > 0">
              <div v-for="keywordPair in keywordsCounts" v-text="keywordPair.term" class="keyword-cloud" v-bind:style="{ opacity: calcOpacity(keywordPair)}" :key="keywordPair.term">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 alert-secondary mainTextLight p-5 text-center">
      <img src="static/img/icon.svg" width="150px" alt="icon">
      <h3>Suggest a new source</h3>
      <app-suggest-source class="m-auto"></app-suggest-source>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="static/js/logo.js"></script>
<script src="static/js/clean-facets.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script>

  var app = new Vue({
    el: '#index',
    components: {
      'app-donut': window.httpVueLoader('static/components/Donut.vue'),
      'app-suggest-source': window.httpVueLoader('static/components/SuggestSource.vue')
    },
    data: function() {
      return {
        facetSize: 50,
        facets: ["_index", "funder.name.keyword", "funding.funder.name.keyword", "variableMeasured.keyword", "measurementTechnique.keyword", "keywords.keyword"],
        datasetTotal: 0,
        sourceTotal: 0,
        query: null,
        source_counts: [],
        keywordsCounts: [],
        suggestedQueries: [
        {label: "E. coli", searchTerms: '"E. coli" "Escherichia coli" "Shiga Toxin-Producing E. coli" "STEC"'},
        {label: "Tuberculosis", searchTerms: 'Tuberculosis TB'},
        {label: "Ebola", searchTerms: "Ebola EBOV EVD"}
        ]
      }
    },
    watch: {

    },
    methods: {
      search(query) {
        window.location.href = "./search/?q=" + query;
      },
      calcOpacity(keywordPair, lowerLimit = 0.2, logValues = true) {

        var self = this;
        if (self.keywordsCounts && self.keywordsCounts.length > 0) {
          let limits = d3.extent(self.keywordsCounts.map(d => d.count));

          let opacityScale;
          if (logValues) {
            opacityScale = d3.scaleLog().domain(limits).range([lowerLimit, 1]);
          } else {
            opacityScale = d3.scaleLinear().domain(limits).range([lowerLimit, 1]);
          }
          return (opacityScale(keywordPair.count))
        }
      },
      // gets total counts of dataset, by data source
      getCounts() {
        console.log("calling get counts")
        var self = this;
        var params = {
          "params": {
            "q": "__all__",
            "size": 0,
            facets: self.facets.join(","),
            "facet_size": self.facetSize
          }
        }

        axios.get("{{api_url}}" + "query?", params).then(function(response) {
          console.log(response.data);
          self.keywordsCounts = response.data.facets['keywords.keyword'].terms;
          self.datasetTotal = response.data.facets['_index'].total;
          self.source_counts = cleanSources(response.data.facets['_index'].terms);
          self.sourceTotal = self.source_counts.length;
        })
      }

    },
    mounted: function() {
      this.getCounts();
    },
    created: function() {}

  });
</script>
{% include "footer.html" %}
{% endblock %}
